@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f6f6ef;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a0a0a0;
}
